/GithubDeneme/nbproject/private/
/Operatörler/nbproject/private/
/Operatörler/build/
/InputAlma/nbproject/private/
/InputAlma/build/
/InputAlmak/nbproject/private/
/InputAlmak/build/
/ScannerDetay/nbproject/private/
/ScannerDetay/build/
/BedenKitleEndeksi/nbproject/private/
/BedenKitleEndeksi/build/
/YakıtHesaplama/nbproject/private/
/YakıtHesaplama/build/
