/GithubDeneme/nbproject/private/
/Operatörler/nbproject/private/
/Operatörler/build/
/InputAlma/nbproject/private/
/InputAlma/build/
/InputAlmak/nbproject/private/
/InputAlmak/build/
/ScannerDetay/nbproject/private/
/ScannerDetay/build/
/BedenKitleEndeksi/nbproject/private/
/BedenKitleEndeksi/build/
/YakıtHesaplama/nbproject/private/
/YakıtHesaplama/build/
/DegiskenDegerleriniDegistirme/nbproject/private/
/DegiskenDegerleriniDegistirme/build/
/Hipotenus/nbproject/private/
/HipotenusBulma/nbproject/private/
/HipotenusBulma/build/
/KodBlokları/nbproject/private/
/KarsilastirmaOperatorleri/nbproject/private/
/KarsilastirmaOperatorleri/build/
